* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #1a1a1a1a;
}

body {
  background-color: rgb(11, 61, 83);
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 45%;
  width: 45%;
  display: grid;
  grid-template-rows: 35% 65%;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid var(--border-color);
  border-radius: 3rem;
}
.container h1 {
  margin-top: 3rem;
  font-size: 3.5rem;
  text-align: center;
  padding: 0 1rem;
  border-bottom: 2px solid var(--border-color);
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  .box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.box {
  .clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    width: 70%;
    height: 8rem;
    color: white;
    background-color: var(--border-color);
    position: relative;
    border-radius: 1rem;
    font-size: 4rem;
    overflow: hidden;
  }
}

.clock p {
  font-size: 1rem;
}

.clock::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 90%;
  height: 8rem;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ffb6c1,
    #0077cc,
    #0077cc
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: tourneAuTour 5s linear infinite;
}

.clock::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 90%;
  height: 8rem;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ffd700,
    #b91fdc,
    #66cc99
  );
  z-index: 0;
  transform-origin: bottom right;
  animation: tourneAuTour 5s linear infinite;
  animation-delay: -3s;
}

@keyframes tourneAuTour {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.front-clock {
  text-align: center;
  padding: 0.6rem;
  background-color: black;
  width: 95%;
  height: 95%;
  border-radius: 1rem;
  z-index: 1;
}

@media (max-width: 890px) {
  .container {
    width: 60%;
  }
  .clock {
    font-size: 3rem;
  }
}

@media (max-width: 590px) {
  .container {
    grid-template-rows: 20% 80%;
  }
  h1 {
    margin-top: 0;
  }
  .box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .clock {
    width: 30vw;
    margin: 0;
    font-size: 4rem;
    margin-top: 0.8rem;
  }
}
